<header class="masthead">
  <div class="wrap">
    {% if site.florecer.icon %}
      <a href="{{ site.florecer.index | relative_url }}" class="site-logo" rel="home" title="{{ site.florecer.title }}">
        <img src="{{ site.florecer.icon| relative_url }}" class="site-logo-img animated fadeInDown" alt="{{ site.florecer.title }}">
      </a>
    {% endif %}
    {% assign page_image = page.image.path | default: page.image %}
    {% unless page_image %}
      <h1 class="site-title animated fadeIn"><a href="{{ site.florecer.index | relative_url }}">{{ site.florecer.title }}</a></h1>
      <p class="site-description animated fadeIn" itemprop="description">{{ site.florecer.description }}</p>
    {% endunless %}
  </div>
</header><!-- /.masthead -->
