{% if site.data.navigation %}
  <div class="navigation-wrapper">
    <a href="#menu-toggle" id="menu-toggle">{{ site.data.text[site.locale].menu_label | default: 'Menu' }}</a>
    <nav id="primary-nav" class="site-nav animated drop">
      <ul>
        {%- for link in site.data.navigation_home -%}
          {%- if link.url contains '://' -%}
            {%- assign url = link.url -%}
          {%- else -%}
            {%- assign url = link.url | relative_url -%}
          {%- endif -%}
          <li>
            <a href="{{ url }}">
              {%- if link.img == null -%} 
                {{ link.title }}
              {%- else -%}
                <img src="{{ link.img }}" style="border-radius: 50%;width: 35px" >
              {%- endif -%}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </nav>
  </div><!-- /.navigation-wrapper -->
{% endif %}
